#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_eurocoin
#build/eurocoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_eurocoin)

DEB_INSTALL_EXAMPLES_eurocoind += debian/examples/*
DEB_INSTALL_MANPAGES_eurocoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix eurocoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f eurocoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake eurocoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_eurocoin
	src/test_eurocoin

# Ensure wrapper is set executable
binary-post-install/eurocoind:
	chmod +x $(cdbs_curdestdir)usr/bin/eurocoind
binary-post-install/eurocoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/eurocoin-qt
